alabaster==0.7.12
argh==0.26.2
asn1crypto==0.24.0
astroid==2.1.0
attrs==17.4.0
aws-sam-translator==1.12.0
aws-xray-sdk==2.4.2
Babel==2.7.0
boto==2.49.0
boto3==1.9.159
botocore==1.12.159
certifi==2019.3.9
cffi==1.12.3
cfn-lint==0.22.0
-e git+https://github.com/kapilt/chalice.git@d4ffc9ece54423b42c5f8c82b0982b49c3be0d15#egg=chalice
chardet==3.0.4
click==6.7
coverage==4.5.1
cryptography==3.2
dataclasses==0.6
DateTime==4.3
doc8==0.8.0
docker==4.0.2
docutils==0.14
-e git+https://github.com/kapilt/dynamoclasses.git@48c29971fe2c8b2c07f3e62c42ea07385a9e6faa#egg=dynamoclasses
ecdsa==0.13.3
elasticsearch==7.0.2
elasticsearch-dsl==7.0.0
enum-compat==0.0.2
flake8==3.6.0
future==0.17.1
hypothesis==3.56.3
idna==2.7
imagesize==1.1.0
isort==4.3.21
Jinja2==2.11.3
jmespath==0.9.4
jsondiff==1.1.2
jsonpatch==1.23
jsonpickle==1.2
jsonpointer==2.0
jsonschema==3.0.1
lazy-object-proxy==1.4.1
MarkupSafe==1.1.1
mccabe==0.6.1
mock==2.0.0
more-itertools==7.1.0
moto==1.3.9
mypy==0.660
mypy-extensions==0.4.1
packaging==19.0
pathtools==0.1.2
pbr==5.3.1
pluggy==0.6.0
py==1.5.3
pyasn1==0.4.5
pycodestyle==2.4.0
pycparser==2.19
pydocstyle==2.0.0
pyflakes==2.0.0
Pygments==2.1.3
pylint==2.2.2
pyparsing==2.4.0
pyrsistent==0.15.2
pytest==3.5.0
pytest-cov==2.5.1
python-dateutil==2.8.0
python-jose==3.0.1
pytz==2019.1
PyYAML==5.1
requests==2.20.0
requests-aws4auth==0.9
responses==0.10.6
restructuredtext-lint==1.3.0
rsa==4.0
s3transfer==0.2.0
six==1.12.0
snowballstemmer==1.9.0
Sphinx==2.1.2
sphinxcontrib-applehelp==1.0.1
sphinxcontrib-devhelp==1.0.1
sphinxcontrib-htmlhelp==1.0.2
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.2
sphinxcontrib-serializinghtml==1.1.3
sshpubkeys==3.1.0
stevedore==1.30.1
tox==3.0.0
typed-ast==1.2.0
urllib3==1.26.5
virtualenv==16.6.1
watchdog==0.9.0
websocket-client==0.56.0
Werkzeug==0.15.4
wrapt==1.11.2
xmltodict==0.12.0
zope.interface==4.6.0
